.idea
gradle/*
f.data
.gradle
build/
out/
cmake-build-debug/
cmake-build-release/
src/main/go/Protocol-Buffers-Notes

src/main/go/go\.sum

src/main/go/go\.mod

src/main/go/myfile\.bin
src/main/generated/cpp/
docker-compose.yml